footer {
	width: 100%;
	background-color: $color1;
}

.wrapper-footer {
	width: 1160px;
	margin: 0 auto;

	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 60px 0;
		
		.footer-item {
			width: 260px;

			h2 {
				font: 16px 'Ubuntu Medium', sans-serif;
				color: $color4;
			}

			ul {
				margin-top: 40px;
				padding-left: 4px;

				li {
					border-bottom: 1px solid $color16;					

					a {
						display: block;
						height: 34px;
						text-decoration: none;
						font: 13px Arial;
						color: $color17;
						line-height: 34px;
						transition: color 0.2s ease 0s;

						&:hover {
							color: $color2;
						}										
					}

					&:last-child {
							border-bottom: 0;
					}						
				}
			}
		}
	}
}

.contacts-copy {
	width: 100%;
	background-color: $color6;

	.wrapper-contacts {
		width: 1160px;
		margin: 0 auto;
		padding: 22px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font: 12px Arial;
		color: $color18;

		.contacts {
			width: 660px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.adress,
			.phone,
			.mail {
				padding-left: 5px;
				display: flex;
				flex-direction: row;
				align-items: center;

				p {
					display: inline-block;
					line-height: 28px; 
				}
			}

			.adress::before {
				width: 14px;
				height: 17px;
				display: inline-block;
				margin-right: 10px;
				content: "";
				background: url(../images/footerSprite1.png) 0 0 no-repeat;
			}

			.phone::before {
				width: 11px;
				height: 17px;
				display: inline-block;
				margin-right: 10px;
				content: "";
				background: url(../images/footerSprite1.png) -14px 0 no-repeat;
			}

			.mail::before {
				width: 18px;
				height: 17px;
				display: inline-block;
				margin-right: 10px;
				content: "";
				background: url(../images/footerSprite1.png) -26px 0 no-repeat;
			}

			.mail {
				a {
					text-decoration: none;
					color: $color18;

					&:hover {
						color: $color2;
					}					
				}
			}
		}

		.copy {
			p {
				margin-top: 4px;
			}
		}
	}
}