header {
	width: 1160px;
	margin: 0 auto;
	padding: 36px 0;
}

.logosocial {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.logo {
	background-image: url(../images/logo.png);

	a {
		display: block;
		width: 206px;
		height: 38px;
	}
}

.social {
	padding: 9px 0;

	.social-item {
		display: inline-block;		
	}

	.facebook {		
		width: 8px;
		height: 16px;
		background: url(../images/socialIcons.png) 0 0 no-repeat;
	}

	.facebook:hover {
		background-position: 0 -19px;
	}

	.twitter {
		width: 16px;
		height: 16px;
		background: url(../images/socialIcons.png) -10px 0 no-repeat;
		margin-left: 23px;
	}

	.twitter:hover {
		background-position: -10px -19px;
	}

	.rss {
		width: 16px;
		height: 16px;
		margin-left: 18px;
		background: url(../images/socialIcons.png) -27px 0 no-repeat;
	}

	.rss:hover {
		background-position: -27px -19px;
	}

	.linkedin {
		width: 19px;
		height: 16px;
		margin-left: 18px;
		background: url(../images/socialIcons.png) -43px 0 no-repeat;
	}

	.linkedin:hover {
		background-position: -43px -19px;
	}

	.skype {
		width: 19px;
		height: 16px;
		margin-left: 15px;
		background: url(../images/socialIcons.png) -62px 0 no-repeat;
	}

	.skype:hover {
		background-position: -62px -19px;
	}
}

.menusearch {
	margin-top: 35px;
	width: 100%;
	background-color: $color1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.header-menu {
		font-size: 0;
	}

	.header-item:first-child {
		background-color: $color2;
	}

	.header-item {
		display: inline-block;
		border-right: 1px solid $color3;

		a {
			display: block;
			height: 55px;			
			text-decoration: none;
			text-align: center;
			font: 14px "Ubuntu Condens", sans-serif;
			color: $color4;
			padding: 0 37px;
			line-height: 55px;
			transition: all 0.2s ease 0s;
		}

		a:hover {
			color: $color5;
		}
	}

	.search {

		position: relative;

		input {
			width: 240px;
			height: 39px;
			background-color: $color6;
			border: 1px solid #000;
			padding-left: 15px;
			font: 12px Arial, sans-serif;
			color: $color7;
			margin: 6px;
		}

		.search-pic {
			position: absolute;
			width: 16px;
			height: 16px;
			background-image: url(../images/searchPic.png);
			top: 20px;
			left: 240px;
		}
	}
}