.news {
	width: 100%;
	background-color: $color11;
	padding: 60px 0 30px;
}

.news-wrapper {
	width: 1160px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	h1 {
		font: 24px 'Ubuntu Medium', sans-serif;
		color: $color1;
		margin-bottom: 50px;
	}
}

.latest-news {
	width: 560px;
}

.news-item {
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.news-picture {
		width: 150px;
		height: 150px;		
		position: relative;

		.news-month {
			width: 40px;
			height: 40px;
			background-color: $color2;
			color: #fff;
			font: 15px 'Ubuntu Medium', sans-serif;
			text-align: center;
			position: absolute;
			top: 12px;
			left: -17px;
			line-height: 40px;
		}

		.news-day {
			width: 40px;
			height: 40px;
			background-color: $color5;
			color: $color9;
			font: 15px 'Ubuntu Medium', sans-serif;
			text-align: center;
			position: absolute;
			top: 52px;
			left: -17px;
			line-height: 40px;
		}
	}

	.machinery {
		background-image: url(../images/tools.jpg);
	}

	.techniques {
		background-image: url(../images/worker.jpg);
	}

	.news-content {
		width: 375px;

		& > a {
			text-decoration: none;
			font: 16px 'Ubuntu Medium', sans-serif;
			color: $color1;
			display: block;
			transition: color 0.2s ease 0s;

			&:hover {
				color: $color12;
			}
		}

		span {
			font: 13px Arial;
			color: $color13;

			a {
				text-decoration: none;
				color: $color14;
			}
		}

		p {
			font: 13px Arial;
			color: $color10;
			margin-top: 25px;
			display: block;
		}
	}
	
}

.banners {
	width: 560px;

	p {
		display: none;
		font: 13px Arial;
		color: $color10;
		padding: 27px 0 35px 38px;
	}

	.banners-item.active {
		.banners-title {
			background-color: $color5;
			border: 1px solid $color5;
			color: #fff;

			.banners-pic {
				border-right: 1px solid $color4;
				background: url(../images/accordion.png) 0 0 no-repeat;
			}
		}

		p {
			display: block;
		}
	}

	.banners-item:hover {
		.banners-title {
			background-color: $color5;
			border: 1px solid $color5;
			color: #fff;

			.banners-pic {
				border-right: 1px solid $color4;
				background: url(../images/accordion.png) 0 0 no-repeat;
			}
		}
	}

	.banners-title {
		background-color: $color4;
		border: 1px solid $color15;
		font: 13px 'Ubuntu Medium', sans-serif;
		color: $color1;
		margin-bottom: 5px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		transition: all 0.2s ease 0s;

		.banners-pic {
			width: 37px;
			height: 37px;
			border-right: 1px solid $color15;
			background: url(../images/accordion.png) -39px 0 no-repeat;
		}

		h4 {
			display: block;
			line-height: 37px;
			padding-left: 13px;
			cursor: pointer;
		}
	}
}


	
