.services {
	width: 100%;
	background-color: $color1;
	padding: 50px 0;

	h1 {
		font: 24px 'Ubuntu Medium', sans-serif;
		color: $color4;
	}

	.services-wrapper {
		width: 1160px;
		margin: 0 auto;
	}

	.services-links {
		margin-top: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		figure {
			& > a {
				display: block;
				width: 260px;
				height: 260px;
				position: relative;
				transition: all 0.2s ease 0s;						
			}

			figcaption {				
				a {
					display: block;
					margin-top: 30px;
					text-decoration: none;
					font: 16px 'Ubuntu Medium', sans-serif;
					color: $color4;
					text-align: center;
					transition: all 0.2s ease 0s;								
				}
			}

			&:hover {
				& > a::after {
					top: 0;
					display: block;
					content: "";
					position: absolute;
					background-image: url(../images/picMask.png);
					opacity: .9;
					width: 260px;
					height: 260px;
				}

				figcaption{
					a {
						color: $color5;
					}
				}


			}
		}
	}
}