@media #{$tabletPortrait} {
    $m: tabletPortrait;

    @import '../desktop';

    .partners_wrapper {
    	padding: 0 145px;
    }

    .partners_items {
    	flex-wrap: wrap;

    	.item_2,
    	.item_4 {
    		margin-top: 58px;
    	}
    }

}
