@media #{$tabletPortrait} {
    $m: tabletPortrait;

    @import '../desktop';

    .footer_wrapper {
    	padding: 36px 30px;

    	.footer_logo {
    		a {
    		margin-right: 82px;
    		}
    	}

    	.footer_company {
    		margin-right: 104px;
    	}

    	.designed {
    		right: 31px;
    	}
    }

}
