@import 'mobile';

& {
    .mobile {
        display: none;
	}

    .desktop {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .logo {
        margin-top: px(544, $m);
    }

    .enter {
        max-width: px(650, $m);
        min-height: px(450, $m);
        margin-top: px(200, $m);
    }

    .submit-button {
        margin-top: px(42, $m);
    }

    footer {
        max-width: px(650, $m);
        margin-top: px(58, $m);
    }
}
