& {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: px(970, $m);
    padding: px(80, $m) px(60, $m) 0;
    background-color: $color1;
    font-family: 'PT Sans', sans-serif;

    //SATELLITE
    .satellite {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        order: 0;
        width: px(550, $m);
        height: px(770, $m);
        padding-left: px(24, $m);
        color: $color2;
        box-sizing: border-box;

        .icon {
            height: px(168, $m);

            img {
                width: px(104, $m);
                margin-right: px(46, $m);
            }
        }

        .title {
            height: px(56, $m);
            margin-left: px(16, $m);
            font-size: px(44, $m);
            font-weight: 700;
        }

        .divider {
            width: px(50, $m);
            height: px(6, $m);
            border-radius: 3px;
            background-color: $color8;
            box-sizing: border-box;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: px(510, $m);
            height: px(366, $m);
            margin-left: px(62, $m);
            color: $color3;
            font-size: px(28, $m);
        }

        .item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: px(16, $m) 0 px(20, $m);
            font-size: px(28, $m);
        }

        .label {
            width: px(214, $m);
            margin-right: px(20, $m);
            font-weight: 700;
            letter-spacing: -.2px;
            text-align: right;
            box-sizing: border-box;
        }

        .content {
            width: px(298, $m);
            letter-spacing: -.3px;
            text-align: left;
            box-sizing: border-box;
        }

        .content span {
            display: inline-block;
        }

        .instruct {
            display: none;
        }

        .button {
            display: block;
            width: px(426, $m);
            height: px(82, $m);
            border: 1px solid $color5;
            border-radius: 5px;
            background: url('../images/info/videoPlayIcon.svg') 13px 10px / 18px no-repeat;
            color: $color5;
            font-size: px(28, $m);
            line-height: px(74, $m);
            text-decoration: none;
            text-indent: px(104, $m);
            box-sizing: border-box;
        }

        .button:hover {
            background-color: $color5;
            background-image: url('../images/info/videoPlayIcon_hover.svg');
            color: $color6;
        }
    }

    // end of SATELLITE

    // CABLE

    .cable {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        order: 1;
        width: px(490, $m);
        height: px(770, $m);
        padding-right: px(10, $m);
        color: $color2;
        box-sizing: border-box;

        .icon {
            height: px(164, $m);

            img {
                width: px(120, $m);
            }
        }

        .title {
            height: px(60, $m);
            margin-right: px(32, $m);
            font-size: px(44, $m);
            font-weight: 700;
        }

        .divider {
            width: px(50, $m);
            height: px(6, $m);
            border-radius: px(6, $m);
            background-color: $color8;
            box-sizing: border-box;
        }

        .text p {
            width: px(440, $m);
            height: px(372, $m);
            color: $color3;
            font-size: px(28, $m);
            line-height: px(36, $m);
            text-align: center;
        }

        .button {
            display: none;
        }

        .button-desk {
            height: px(60, $m);
            color: $color7;
            font-size: px(28, $m);
            font-style: italic;
            font-weight: 700;
            letter-spacing: .4px;
            text-decoration: none;
        }

        .arrow {
            position: absolute;
            left: px(128, $m);
            width: px(230, $m);
            height: px(214, $m);
            background-color: $color1;

            img {
                display: block;
                width: px(80, $m);
                margin: 0 auto;
            }
        }
    }
    // end of CABLE

    //ONLINE
    .online {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        order: 2;
        width: px(550, $m);
        height: px(770, $m);
        padding-right: px(50, $m);
        color: $color2;
        text-align: center;
        box-sizing: border-box;

        .icon {
            height: px(164, $m);

            img {
                width: px(124, $m);
                margin-left: px(28, $m);
            }
        }

        .title {
            height: px(58, $m);
            margin-left: px(10, $m);
            font-size: px(44, $m);
            font-weight: 700;
        }

        .divider {
            width: px(50, $m);
            height: px(6, $m);
            border-radius: px(6, $m);
            background-color: $color8;
            box-sizing: border-box;
        }

        .text1,
        .text2 {
            width: px(400, $m);
            height: px(76, $m);
            font-size: px(28, $m);
            color: $color3;
            line-height: px(36, $m);
        }

        .text1 {
            display: none;
        }

        .text-desk {
            width: 100%;
            height: px(94, $m);
            font-size: px(28, $m);
            line-height: px(36, $m);
        }

        .text2 {
            width: 100%;
            height: px(50, $m);
        }

        .application {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: px(488, $m);
            height: px(144, $m);
            margin-left: px(26, $m);

            .icon {
                width: px(120, $m);
                height: px(120, $m);
                border: 1px solid $color4;
                border-radius: px(10, $m);
                box-sizing: border-box;
            }

            a {
                display: block;
                width: px(120, $m);
                height: px(120, $m);
            }

            .android {
                background: url('../images/info/androidIcon.svg') center center / 40px no-repeat;
            }

            .android:hover {
                background: $color4 url('../images/info/androidIcon-hover.svg') center center / 40px no-repeat;
            }

            .apple {
                border-color: $color3;
                background: url('../images/info/appleIcon.svg') center center / 34px no-repeat;
            }

            .apple:hover {
                background: $color3 url('../images/info/appleIcon-hover.svg') center center / 35px no-repeat;
            }

        }

        .download {
            width: px(226, $m);
            background: url('../images/info/pointerArrowIcon1.svg') 66px 0 / 42px no-repeat,
                        url('../images/info/pointerArrowIcon2.svg') 0 50px / 42px no-repeat;
            color: $color3;
            font-size: px(30, $m);
            font-weight: 700;
            text-align: center;
        }

        .download p {
            margin-top: px(30, $m);
            letter-spacing: -.5px;
            line-height: px(28, $m);
        }

        .button {
            display: block;
            width: px(380, $m);
            height: px(82, $m);
            border: 1px solid $color5;
            border-radius: px(10, $m);
            background: url('../images/info/videoPlayIcon.svg') 12px 10px / 17px no-repeat;
            color: $color5;
            font-size: px(30, $m);
            letter-spacing: -.4px;
            line-height: px(74, $m);
            text-decoration: none;
            text-indent: px(52, $m);
            box-sizing: border-box;
        }

        .button:hover {
            background-color: $color5;
            background-image: url('../images/info/videoPlayIcon_hover.svg');
            color: $color6;
        }
    }
    // end of ONLINE

    // DIV-LINE
    .div-line1 {
        display: none;
    }

    .div-line2 {
        order: 3;
        width: 100%;
        height: px(8, $m);
        margin-top: px(90, $m);
        background: url('../images/info/divider.svg') repeat-x;
    }
    // end of DIV-LINE
}
