& {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: $color1;
    font-family: 'PT Sans', sans-serif;

    //ONLINE
    .online {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: px(1016, $m);
        padding: px(56, $m) px(60, $m) px(80, $m);
        color: $color2;
        text-align: center;
        box-sizing: border-box;

        .icon {
            height: px(164, $m);

            img {
                width: px(136, $m);
                margin-left: px(44, $m);
            }
        }

        .title {
            font-size: px(44, $m);
            font-weight: 700;
        }

        .divider {
            width: px(60, $m);
            height: px(6, $m);
            border-radius: 3px;
            background-color: $color8;
            box-sizing: border-box;
        }

        .text1,
        .text2 {
            width: px(400, $m);
            height: px(76, $m);
            font-size: px(30, $m);
            line-height: px(36, $m);
        }

        .text-desk {
            display: none;
            width: px(400, $m);
            font-size: px(28, $m);
        }

        .application {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: px(126, $m);

            .icon {
                width: px(120, $m);
                height: px(120, $m);
                border: 1px solid $color4;
                border-radius: 5px;
                box-sizing: border-box;
            }

            .download {
                width: px(226, $m);
                background: url('../images/info/pointerArrowIcon1.svg') 80px 0 / 35px no-repeat,
                            url('../images/info/pointerArrowIcon2.svg') 0 52px / 35px no-repeat;
                color: $color3;
                font-size: px(30, $m);
                font-weight: 700;
                text-align: center;
            }

            .download p {
                margin-top: px(26, $m);
                line-height: px(28, $m);
            }

            a {
                display: block;
                width: px(120, $m);
                height: px(120, $m);
            }

            .android {
                background: url('../images/info/androidIcon.svg') center center / px(80, $m) no-repeat;
            }

            .android:hover {
                background: $color4 url('../images/info/androidIcon-hover.svg') center center / px(80, $m) no-repeat;
            }

            .apple {
                border-color: $color3;
                background: url('../images/info/appleIcon.svg') center center / px(68, $m) no-repeat;
            }

            .apple:hover {
                background: $color3 url('../images/info/appleIcon-hover.svg') center center / px(70, $m) no-repeat;
            }
        }

        .button {
            display: block;
            width: px(380, $m);
            height: px(100, $m);
            border: 1px solid $color5;
            border-radius: 5px;
            background: url('../images/info/videoPlayIcon.svg') 13px 15px / 20px no-repeat;
            color: $color5;
            font-size: px(30, $m);
            line-height: px(100, $m);
            text-decoration: none;
            text-indent: px(60, $m);
            box-sizing: border-box;
        }

        .button:hover {
            background-color: $color5;
            background-image: url('../images/info/videoPlayIcon_hover.svg');
            color: $color6;
        }
    }
    // end of ONLINE

    // DIV-LINE
    .div-line1,
    .div-line2 {
        width: 90%;
        height: 3px;
        background: url('../images/info/divider.svg') repeat-x;
    }
    // end of DIV-LINE

    //SATELLITE
    .satellite {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: px(950, $m);
        padding: px(80, $m);
        color: $color2;
        box-sizing: border-box;

        .icon {
            height: px(194, $m);

            img {
                width: px(116, $m);
                margin-right: px(40, $m);
            }
        }

        .title {
            font-size: px(44, $m);
            font-weight: 700;
        }

        .divider {
            width: px(60, $m);
            height: px(6, $m);
            margin-top: px(32, $m);
            border-radius: 3px;
            background-color: $color8;
            box-sizing: border-box;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: px(342, $m);
            padding-top: px(20, $m);
            color: $color3;
            font-size: px(30, $m);
        }

        .item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: px(14, $m) 0 px(16, $m);
        }

        .label {
            width: 113px;
            font-weight: 700;
            text-align: right;
            box-sizing: border-box;
        }

        .content {
            width: 116px;
            letter-spacing: -.1px;
            text-align: left;
            box-sizing: border-box;
        }

        .content span {
            display: none;
        }

        .button {
            display: block;
            width: px(380, $m);
            height: px(100, $m);
            border: 1px solid $color5;
            border-radius: 5px;
            background: url('../images/info/videoPlayIcon.svg') 13px 15px / 20px no-repeat;
            color: $color5;
            font-size: px(30, $m);
            line-height: px(100, $m);
            text-decoration: none;
            text-indent: px(80, $m);
            box-sizing: border-box;
        }

        .button:hover {
            background-color: $color5;
            background-image: url('../images/info/videoPlayIcon_hover.svg');
            color: $color6;
        }

        .instruct {
            display: none;
            width: px(380, $m);
            height: px(188, $m);
            margin-top: px(14, $m);
            padding-top: px(80, $m);
            background: url('../images/info/pointerArrow3.svg') 89px 0 / 9px no-repeat;
            color: $color3;
            font-size: px(24, $m);
            font-style: italic;
            line-height: px(28, $m);
            text-align: center;
            box-sizing: border-box;
        }
    }

    // end of SATELLITE

    // CABLE
    .cable {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: px(886, $m);
        padding: px(74, $m) px(62, $m) px(80, $m);
        color: $color2;
        box-sizing: border-box;

        .icon {
            height: px(164, $m);

            img {
                width: px(134, $m);
            }
        }

        .title {
            font-size: px(44, $m);
            font-weight: 700;
        }

        .divider {
            width: px(60, $m);
            height: px(6, $m);
            border-radius: 3px;
            background-color: $color8;
            box-sizing: border-box;
        }

        .text p {
            height: px(218, $m);
            color: $color3;
            font-size: px(30, $m);
            line-height: px(36, $m);
            text-align: center;
        }

        .button {
            display: block;
            width: px(380, $m);
            height: px(100, $m);
            border: 1px solid $color5;
            border-radius: 5px;
            background: url('../images/info/findOperatorsIcon.svg') 13px 15px / 20px no-repeat;
            color: $color5;
            font-size: px(30, $m);
            line-height: px(100, $m);
            text-decoration: none;
            text-indent: px(96, $m);
            box-sizing: border-box;
        }

        .button:hover {
            background-color: $color5;
            background-image: url('../images/info/findOperatorsIcon-hover.svg');
            color: $color6;
        }

        .button-desk {
            display: none;
            color: $color7;
            font-size: px(28, $m);
            font-style: italic;
            font-weight: 700;
            text-decoration: none;
        }

        .arrow {
            display: none;
            position: absolute;
            left: px(126, $m);
            width: px(230, $m);
            height: px(214, $m);
            background-color: $color1;
        }

        .arrow img {
            display: block;
            width: px(80, $m);
            margin: 0 auto;
        }
    }
    // end of CABLE


}
