.partners-wrapper {
	width: 1160px;
	margin: 0 auto;
	padding: 85px 0 95px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	a {
		display: block;
	}

	.rbp {
		width: 145px;
		height: 64px;
		background: url(../images/partners.png) 0 0 no-repeat;
	}

	.moto-metal {
		width: 145px;
		height: 64px;
		background: url(../images/partners.png) -145px 0 no-repeat;
	}

	.crave {
		width: 185px;
		height: 64px;
		background: url(../images/partners.png) -290px 0 no-repeat;
	}

	.atx {
		width: 145px;
		height: 64px;
		background: url(../images/partners.png) -485px 0 no-repeat;
	}

	.cruiser {
		width: 145px;
		height: 64px;
		background: url(../images/partners.png) -630px 0 no-repeat;
	}

	.gear {
		width: 145px;
		height: 64px;
		background: url(../images/partners.png) -775px 0 no-repeat;
	}
}