& {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	h3 {
		font: bold 22px 'Montserrat', sans-serif;
		color: $color1;
		text-align: center;
		margin-top: 96px;
	}

	p {
		font: 18px 'Roboto Light', sans-serif;
		color: $color1;
		text-align: center;
		margin: 31px 0 36px;
	}

	form {

		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		input[type="text"] {
			width: 223px;
			height: 37px;
			border: 1px solid $color2;
			border-radius: 5px;
			color: $color3;
			font: 14px 'Roboto Light', sans-serif;
			padding-left: 15px;
			margin-right: 13px;

			&:focus {
  				outline: none;
  				box-shadow: 0 0 1px 1px #4d90f0;
  			}
		}

		.partners_search {
			width: 160px;
            height: 40px;
            font: bold 14px 'Montserrat', sans-serif;
            color: $color4;
            line-height: 35px;
            background-color: $color5;
            border: 2px solid $color5;
            border-radius: 30px;
            box-sizing: border-box;
            display: block;
            transition: all .5s ease 0s;

            &:hover {
                background-color: $color4;
                color: $color5;
            }
		}
	}
}