& {
	margin-top: 100px;
	width: 100%;
	border-top: 4px solid $color1;

	.footer_wrapper {
		max-width: 940px;
		margin: 0 auto;
		position: relative;
		padding: 35px 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;		

		.footer_logo {
			a {
				text-decoration: none;
				font: bold 16px 'Montserrat', sans-serif;
				color: $color1;
				display: block;
				margin-right: 95px;
				letter-spacing: 1px;
			}
		}

		h4 {
			font: bold 14px 'Montserrat', sans-serif;
			color: $color2;
			text-align: right;
		}

		.footer_company {
			margin-right: 93px;
			ul {				
				height: 100px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-top: 10px;

				li {
					height: 25px;
				}

				a {
					font: 14px 'Roboto Light', sans-serif;
					color: $color3;
					text-decoration: none;
				}
			}
		}

		.designed {
			position: absolute;
			top: 37px;
			right: 0;

			h4 {
				font: bold 10px 'Montserrat', sans-serif;
				color: $color4;
				letter-spacing: 1px;
			}

			.designer_logo {
				margin-top: 7px;
				width: 112px;
				height: 26px;
				background-image: url(../images/areto.png);

				a {
					display: block;
					height: 26px;
				}
			}
		}
	}
}